## 0. Given codes from Kaggle

In [1]:
# This R environment comes with many helpful analytics packages installed
# It is defined by the kaggle/rstats Docker image: https://github.com/kaggle/docker-rstats
# For example, here's a helpful package to load

library(tidyverse) # metapackage of all tidyverse packages

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

list.files(path = "../input/titanic")

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

[1] "gender_submission.csv" "test.csv"              "train.csv"

## 1. Read Data

In [2]:
# 1. Read Data

df <- read.csv("../input/titanic/train.csv", stringsAsFactors=TRUE)

## 1.1 Skim Data

In [3]:
# 1.1 Skim Data

head(df)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
6 6           0        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
6 Moran, Mr. James                                    male   NA  0     0
  Ticket           Fare    Cabin Embarked
1 A/5 21171         7.2500       S
2 PC 17599         71.2833 C85   C
3 STON/O2. 3101282  7.9250       S
4 113803           53.1000 C123  S
5 373450            8.0500       S
6 330877            8.4583       Q

In [4]:
str(df)

'data.frame':	891 obs. of  12 variables:
 $ PassengerId: int  1 2 3 4 5 6 7 8 9 10 ...
 $ Survived   : int  0 1 1 1 0 0 0 0 1 1 ...
 $ Pclass     : int  3 1 3 1 3 3 1 3 3 2 ...
 $ Name       : Factor w/ 891 levels "Abbing, Mr. Anthony",..: 109 191 358 277 16 559 520 629 417 581 ...
 $ Sex        : Factor w/ 2 levels "female","male": 2 1 1 1 2 2 2 2 1 1 ...
 $ Age        : num  22 38 26 35 35 NA 54 2 27 14 ...
 $ SibSp      : int  1 1 0 1 0 0 0 3 0 1 ...
 $ Parch      : int  0 0 0 0 0 0 0 1 2 0 ...
 $ Ticket     : Factor w/ 681 levels "110152","110413",..: 524 597 670 50 473 276 86 396 345 133 ...
 $ Fare       : num  7.25 71.28 7.92 53.1 8.05 ...
 $ Cabin      : Factor w/ 148 levels "","A10","A14",..: 1 83 1 57 1 1 131 1 1 1 ...
 $ Embarked   : Factor w/ 4 levels "","C","Q","S": 4 2 4 4 4 3 4 4 4 2 ...

In [5]:
summary(df)

  PassengerId       Survived          Pclass
 Min.   :  1.0   Min.   :0.0000   Min.   :1.000
 1st Qu.:223.5   1st Qu.:0.0000   1st Qu.:2.000
 Median :446.0   Median :0.0000   Median :3.000
 Mean   :446.0   Mean   :0.3838   Mean   :2.309
 3rd Qu.:668.5   3rd Qu.:1.0000   3rd Qu.:3.000
 Max.   :891.0   Max.   :1.0000   Max.   :3.000

                                    Name         Sex           Age
 Abbing, Mr. Anthony                  :  1   female:314   Min.   : 0.42
 Abbott, Mr. Rossmore Edward          :  1   male  :577   1st Qu.:20.12
 Abbott, Mrs. Stanton (Rosa Hunt)     :  1                Median :28.00
 Abelson, Mr. Samuel                  :  1                Mean   :29.70
 Abelson, Mrs. Samuel (Hannah Wizosky):  1                3rd Qu.:38.00
 Adahl, Mr. Mauritz Nils Martin       :  1                Max.   :80.00
 (Other)                              :885                NA's   :177
     SibSp           Parch             Ticket         Fare
 Min.   :0.000   Min.   :0.0000   1601    :  7   Min.   :  0.00
 1st Qu.:0.000   1st Qu.:0.0000   347082  :  7   1st Qu.:  7.91
 Median :0.000   Median :0.0000   CA. 2343:  7   Median : 14.45
 Mean   :0.523   Mean   :0.3816   3101295 :  6   Mean   : 32.20
 3rd Qu.:1.000   3rd Qu.:0.0000   347088  :  6   3rd Qu.: 31.00
 Max.   :8.000   Max.   :6.0000   CA 2144 :  6   Max.   :512.33
                                  (Other) :852
         Cabin     Embarked
            :687    :  2
 B96 B98    :  4   C:168
 C23 C25 C27:  4   Q: 77
 G6         :  4   S:644
 C22 C26    :  3
 D          :  3
 (Other)    :186

In [6]:
# To remove : Name, Ticket, Cabin
# To replace : Age, Embarked

## 1.2 Pre-processing

In [7]:
# df <- df[, -c("Name", "Ticket", "Cabin")] # Why not work?
df <- subset(df, select = -c(Name, Ticket, Cabin))

summary(df)

  PassengerId       Survived          Pclass          Sex           Age
 Min.   :  1.0   Min.   :0.0000   Min.   :1.000   female:314   Min.   : 0.42
 1st Qu.:223.5   1st Qu.:0.0000   1st Qu.:2.000   male  :577   1st Qu.:20.12
 Median :446.0   Median :0.0000   Median :3.000                Median :28.00
 Mean   :446.0   Mean   :0.3838   Mean   :2.309                Mean   :29.70
 3rd Qu.:668.5   3rd Qu.:1.0000   3rd Qu.:3.000                3rd Qu.:38.00
 Max.   :891.0   Max.   :1.0000   Max.   :3.000                Max.   :80.00
                                                               NA's   :177
     SibSp           Parch             Fare        Embarked
 Min.   :0.000   Min.   :0.0000   Min.   :  0.00    :  2
 1st Qu.:0.000   1st Qu.:0.0000   1st Qu.:  7.91   C:168
 Median :0.000   Median :0.0000   Median : 14.45   Q: 77
 Mean   :0.523   Mean   :0.3816   Mean   : 32.20   S:644
 3rd Qu.:1.000   3rd Qu.:0.0000   3rd Qu.: 31.00
 Max.   :8.000   Max.   :6.0000   Max.   :512.33

In [8]:
Age.mean <- mean(df$Age, na.rm=TRUE)
df$Age <- ifelse(is.na(df$Age), Age.mean, df$Age)

df$Embarked <- replace(df$Embarked, df$Embarked=="", "S")

summary(df)

  PassengerId       Survived          Pclass          Sex           Age
 Min.   :  1.0   Min.   :0.0000   Min.   :1.000   female:314   Min.   : 0.42
 1st Qu.:223.5   1st Qu.:0.0000   1st Qu.:2.000   male  :577   1st Qu.:22.00
 Median :446.0   Median :0.0000   Median :3.000                Median :29.70
 Mean   :446.0   Mean   :0.3838   Mean   :2.309                Mean   :29.70
 3rd Qu.:668.5   3rd Qu.:1.0000   3rd Qu.:3.000                3rd Qu.:35.00
 Max.   :891.0   Max.   :1.0000   Max.   :3.000                Max.   :80.00
     SibSp           Parch             Fare        Embarked
 Min.   :0.000   Min.   :0.0000   Min.   :  0.00    :  0
 1st Qu.:0.000   1st Qu.:0.0000   1st Qu.:  7.91   C:168
 Median :0.000   Median :0.0000   Median : 14.45   Q: 77
 Mean   :0.523   Mean   :0.3816   Mean   : 32.20   S:646
 3rd Qu.:1.000   3rd Qu.:0.0000   3rd Qu.: 31.00
 Max.   :8.000   Max.   :6.0000   Max.   :512.33

In [9]:
str(df)

'data.frame':	891 obs. of  9 variables:
 $ PassengerId: int  1 2 3 4 5 6 7 8 9 10 ...
 $ Survived   : int  0 1 1 1 0 0 0 0 1 1 ...
 $ Pclass     : int  3 1 3 1 3 3 1 3 3 2 ...
 $ Sex        : Factor w/ 2 levels "female","male": 2 1 1 1 2 2 2 2 1 1 ...
 $ Age        : num  22 38 26 35 35 ...
 $ SibSp      : int  1 1 0 1 0 0 0 3 0 1 ...
 $ Parch      : int  0 0 0 0 0 0 0 1 2 0 ...
 $ Fare       : num  7.25 71.28 7.92 53.1 8.05 ...
 $ Embarked   : Factor w/ 4 levels "","C","Q","S": 4 2 4 4 4 3 4 4 4 2 ...

In [10]:
# Label Encoding
df$Sex <- as.numeric(factor(df$Sex), level=levels(df$Sex))
df$Embarked <- as.numeric(factor(df$Embarked), level=levels(df$Embarked))

# Dependent variable should be a factor
df$Survived <- as.factor(df$Survived)

str(df)

'data.frame':	891 obs. of  9 variables:
 $ PassengerId: int  1 2 3 4 5 6 7 8 9 10 ...
 $ Survived   : Factor w/ 2 levels "0","1": 1 2 2 2 1 1 1 1 2 2 ...
 $ Pclass     : int  3 1 3 1 3 3 1 3 3 2 ...
 $ Sex        : num  2 1 1 1 2 2 2 2 1 1 ...
 $ Age        : num  22 38 26 35 35 ...
 $ SibSp      : int  1 1 0 1 0 0 0 3 0 1 ...
 $ Parch      : int  0 0 0 0 0 0 0 1 2 0 ...
 $ Fare       : num  7.25 71.28 7.92 53.1 8.05 ...
 $ Embarked   : num  3 1 3 3 3 2 3 3 3 1 ...

## 1.3 Divide into Trainning and Valid Data

In [11]:
# 1.3 Divide into Trainning and Valid Data

n <- nrow(df)
set.seed(20231202)
idx <- sample(n, n * 0.8)

df_train <- df[idx, -1] # remove PassengerId
df_valid <- df[-idx, -1]

dim(df_train)
dim(df_valid)

head(df_train)
str(df_train)

[1] 712   8

[1] 179   8

    Survived Pclass Sex Age  SibSp Parch Fare    Embarked
63  0        1      2   45.0 1     0     83.4750 3
395 1        3      1   24.0 0     2     16.7000 3
714 0        3      2   29.0 0     0      9.4833 3
797 1        1      1   49.0 0     0     25.9292 3
321 0        3      2   22.0 0     0      7.2500 3
154 0        3      2   40.5 0     2     14.5000 3

'data.frame':	712 obs. of  8 variables:
 $ Survived: Factor w/ 2 levels "0","1": 1 2 1 2 1 1 2 1 1 2 ...
 $ Pclass  : int  1 3 3 1 3 3 1 3 1 3 ...
 $ Sex     : num  2 1 2 1 2 2 1 2 2 1 ...
 $ Age     : num  45 24 29 49 22 40.5 39 25 60 33 ...
 $ SibSp   : int  1 0 0 0 0 0 1 0 0 3 ...
 $ Parch   : int  0 2 0 0 0 2 1 0 0 0 ...
 $ Fare    : num  83.47 16.7 9.48 25.93 7.25 ...
 $ Embarked: num  3 3 3 3 3 3 1 3 3 3 ...

## 2. Model Fitting : Random Forest

In [12]:
library(randomForest)

md <- randomForest(Survived ~ ., data = df_train)
pred <- predict(md, newdata = df_valid, type = "class")

randomForest 4.6-14

Type rfNews() to see new features/changes/bug fixes.


Attaching package: ‘randomForest’


The following object is masked from ‘package:dplyr’:

    combine


The following object is masked from ‘package:ggplot2’:

    margin

In [13]:
# if not classification

# help(randomForest)
pred.reg <- predict(md, newdata = df_valid, type = "prob")
head(pred.reg)
head(pred.reg[,1])

   0     1
8  0.638 0.362
15 0.270 0.730
19 0.408 0.592
21 0.918 0.082
22 0.936 0.064
25 0.796 0.204

    8    15    19    21    22    25
0.638 0.270 0.408 0.918 0.936 0.796

## 3. Evaluation

In [14]:
# Confusion Matrix
summary(pred)
cm <- table(pred, df[-idx, ]$Survived)
print(cm)

# Accuracy
acc <- (cm[1,1] + cm[2,2]) / nrow(df_valid)
print(acc)

  0   1
122  57

pred   0   1
   0 101  21
   1   8  49
[1] 0.8379888

In [15]:
# More elegant way

library(caret)
confusionMatrix(cm)

Loading required package: lattice


Attaching package: ‘caret’


The following object is masked from ‘package:purrr’:

    lift


The following object is masked from ‘package:httr’:

    progress

Confusion Matrix and Statistics


pred   0   1
   0 101  21
   1   8  49

               Accuracy : 0.838
                 95% CI : (0.7757, 0.8887)
    No Information Rate : 0.6089
    P-Value [Acc > NIR] : 2.273e-11

                  Kappa : 0.6481

 Mcnemar's Test P-Value : 0.02586

            Sensitivity : 0.9266
            Specificity : 0.7000
         Pos Pred Value : 0.8279
         Neg Pred Value : 0.8596
             Prevalence : 0.6089
         Detection Rate : 0.5642
   Detection Prevalence : 0.6816
      Balanced Accuracy : 0.8133

       'Positive' Class : 0

It seems to be performing better than the previous HGB I ran …… Crazy  
https://www.kaggle.com/code/kangrokkim/hgb-histogram-based-gradient-boosting-in-titanic

## 4. Test

In [16]:
test <- read.csv("../input/titanic/test.csv", stringsAsFactors=TRUE)

head(test)

  PassengerId Pclass Name                                         Sex    Age
1 892         3      Kelly, Mr. James                             male   34.5
2 893         3      Wilkes, Mrs. James (Ellen Needs)             female 47.0
3 894         2      Myles, Mr. Thomas Francis                    male   62.0
4 895         3      Wirz, Mr. Albert                             male   27.0
5 896         3      Hirvonen, Mrs. Alexander (Helga E Lindqvist) female 22.0
6 897         3      Svensson, Mr. Johan Cervin                   male   14.0
  SibSp Parch Ticket  Fare    Cabin Embarked
1 0     0     330911   7.8292       Q
2 1     0     363272   7.0000       S
3 0     0     240276   9.6875       Q
4 0     0     315154   8.6625       S
5 1     1     3101298 12.2875       S
6 0     0     7538     9.2250       S

In [17]:
str(test)

'data.frame':	418 obs. of  11 variables:
 $ PassengerId: int  892 893 894 895 896 897 898 899 900 901 ...
 $ Pclass     : int  3 3 2 3 3 3 3 2 3 3 ...
 $ Name       : Factor w/ 418 levels "Abbott, Master. Eugene Joseph",..: 210 409 273 414 182 370 85 58 5 104 ...
 $ Sex        : Factor w/ 2 levels "female","male": 2 1 2 2 1 2 1 2 1 2 ...
 $ Age        : num  34.5 47 62 27 22 14 30 26 18 21 ...
 $ SibSp      : int  0 1 0 0 1 0 0 1 0 2 ...
 $ Parch      : int  0 0 0 0 1 0 0 1 0 0 ...
 $ Ticket     : Factor w/ 363 levels "110469","110489",..: 153 222 74 148 139 262 159 85 101 270 ...
 $ Fare       : num  7.83 7 9.69 8.66 12.29 ...
 $ Cabin      : Factor w/ 77 levels "","A11","A18",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ Embarked   : Factor w/ 3 levels "C","Q","S": 2 3 2 3 3 3 2 3 1 3 ...

In [18]:
test <- subset(test, select = -c(Name, Ticket, Cabin))

test$Age <- ifelse(is.na(test$Age), Age.mean, test$Age)
test$Embarked <- replace(test$Embarked, test$Embarked=="", "S")

# Label Encoding
test$Sex <- as.numeric(factor(test$Sex), level=levels(test$Sex))
test$Embarked <- as.numeric(factor(test$Embarked), level=levels(test$Embarked))

str(test)
summary(test)

'data.frame':	418 obs. of  8 variables:
 $ PassengerId: int  892 893 894 895 896 897 898 899 900 901 ...
 $ Pclass     : int  3 3 2 3 3 3 3 2 3 3 ...
 $ Sex        : num  2 1 2 2 1 2 1 2 1 2 ...
 $ Age        : num  34.5 47 62 27 22 14 30 26 18 21 ...
 $ SibSp      : int  0 1 0 0 1 0 0 1 0 2 ...
 $ Parch      : int  0 0 0 0 1 0 0 1 0 0 ...
 $ Fare       : num  7.83 7 9.69 8.66 12.29 ...
 $ Embarked   : num  2 3 2 3 3 3 2 3 1 3 ...

  PassengerId         Pclass           Sex             Age
 Min.   : 892.0   Min.   :1.000   Min.   :1.000   Min.   : 0.17
 1st Qu.: 996.2   1st Qu.:1.000   1st Qu.:1.000   1st Qu.:23.00
 Median :1100.5   Median :3.000   Median :2.000   Median :29.70
 Mean   :1100.5   Mean   :2.266   Mean   :1.636   Mean   :30.15
 3rd Qu.:1204.8   3rd Qu.:3.000   3rd Qu.:2.000   3rd Qu.:35.75
 Max.   :1309.0   Max.   :3.000   Max.   :2.000   Max.   :76.00

     SibSp            Parch             Fare            Embarked
 Min.   :0.0000   Min.   :0.0000   Min.   :  0.000   Min.   :1.000
 1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:  7.896   1st Qu.:2.000
 Median :0.0000   Median :0.0000   Median : 14.454   Median :3.000
 Mean   :0.4474   Mean   :0.3923   Mean   : 35.627   Mean   :2.402
 3rd Qu.:1.0000   3rd Qu.:0.0000   3rd Qu.: 31.500   3rd Qu.:3.000
 Max.   :8.0000   Max.   :9.0000   Max.   :512.329   Max.   :3.000
                                   NA's   :1

In [19]:
# There's a new NA in Fare

Fare.mean <- mean(df$Fare, na.rm=TRUE)
test$Fare <- ifelse(is.na(test$Fare), Fare.mean, test$Fare)

In [20]:
pred2 <- predict(md, newdata = test, type = "class")
summary(pred2)

  0   1
273 145

## 5. Submit

In [21]:
submission.sample <- read.csv("../input/titanic/gender_submission.csv", stringsAsFactors=TRUE)
nrow(submission.sample)
submission.sample$Survived <- pred2

head(submission.sample)
summary(submission.sample)

[1] 418

  PassengerId Survived
1 892         0
2 893         0
3 894         0
4 895         0
5 896         0
6 897         0

  PassengerId     Survived
 Min.   : 892.0   0:273
 1st Qu.: 996.2   1:145
 Median :1100.5
 Mean   :1100.5
 3rd Qu.:1204.8
 Max.   :1309.0

In [22]:
# Save a submission file
write.csv(submission.sample, file = "submission.csv", row.names = FALSE)

# No problem?
submission <- read.csv("submission.csv")
head(submission)
str(submission)

  PassengerId Survived
1 892         0
2 893         0
3 894         0
4 895         0
5 896         0
6 897         0

'data.frame':	418 obs. of  2 variables:
 $ PassengerId: int  892 893 894 895 896 897 898 899 900 901 ...
 $ Survived   : int  0 0 0 0 0 0 1 0 1 0 ...